body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0f0f3d;
}

#root {
  display: flex;
  flex-direction: column;
}

header {
  background-color: #373b69;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

.search {
  background-color: transparent;
  color: white;
  border: 2px solid #0f0f3d;
  border-radius: 50px;
  font-family: inherit;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  opacity: 0.55;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.gnomeContainer {
  display: flex;
  flex-wrap: wrap;
}

.gnome {
  background-color: #373b69;
  margin: 1rem;
  width: 300px;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}

.gnome img {
  max-width: 100%;
  max-height: 100%;
}

.gnome-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.gnome-name h3 {
  margin: 0;
}

.gnome-info {
  background-color: white;
  color: #0f0f3d;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  transform: translateY(102%); /*Making the info going up*/
  transition: transform 0.3s ease-in-out;
  overflow: auto;
  max-height: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
}

.gnome:hover .gnome-info {
  transform: translateY(0%);
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginationItem {
  background: #fff;
  border: 2px solid #666;
  padding: 10px 15px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  position: relative;
  margin: 0 5px;
  cursor: pointer;
}

.paginationItem span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prev,
.next {
  background: #fff;
  border: none;
  padding: 10px;
  color: blue;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  margin: 0 10px;
  cursor: pointer;
}

.paginationItem.active {
  border: 1px solid #888;
  color: #888;
  pointer-events: none;
}

.prev.disabled,
.next.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #999;
}
